@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Poppins:wght@300;400;600;700;800&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    background-color: rgb(20, 20, 20);
    color: white;
}
li{
    font-size: 30px;
    margin: 5px 10px;
    list-style: none;
}
header ul{
    padding: 10px 10px 50px 10px;
    display: flex;
}
header{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section{
    text-align: center;
    margin-top: 12vh;
}
h1{

    font-size: 160px;
    font-weight: 700;
    margin: 0;
}
h2{
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 10px;
}
h3{
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-weight: 300;
}
.title{
    font-size: 30px;
    font-weight: 400;
}
a:hover{
    color: grey;
}
span{
    font-weight: 100;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
footer ul{
    padding: 30px;
    display: flex;
}
.socials{
    width: 100px;
    height: 200px;
    background-color: white;
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}
.wave{
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    left: 0;
    fill:rgb(0, 0, 0);
}
.social{
    width: 100%;
    padding-left: 5px;
    padding-top: 12px;
    height: 33%;
}
.social svg{
    fill:rgb(20, 20, 20);
}
.sub-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    padding-top: 0px;
}
.sub-section1{
    display: inline;
    text-align: center;
    padding-top: 80px;
}
.Project-container{
    display: flex;
    justify-content: space-around;
 }
.card{
    width: 300px;
    height: 500px;
    margin: 10px;
}
.subtext{
    font-size: 17px;
    font-weight: 300;
}
.subtext2{
    font-size: 25px;
    font-weight: 300;
}
.project-image{
    width: 250px;
    margin-top: 25px;
    border-radius: 125px;
}
.feeter ul{
    margin-bottom: 0;
    position: relative;
}
.headshot-container{
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.container{
    width: 250px;
    border-radius: 50%;
}
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
	background-color: #17a2b8;
    color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	text-indent: 15px;
}
.buttonDownload:hover {
	background-color: #185761;
	color: white;
}
.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}
.buttonDownload:hover:before {
	border-color: #4CC713;
}
.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}
.feeter{
    position: fixed;
}
@media only screen and (max-width: 600px){
    .feeter{
        position: relative;
    }    
}
@media only screen and (max-width: 1000px) {
    .Project-container {
      display: flex;
      flex-wrap: wrap;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px){
    .socials{
        display: none;
    }    
    h1{
        font-size: 100px;
        font-weight: 600;
    }
    h3{
        font-size: 50px;
        font-weight: 300;
    }
    .wave{
        height: 55vh;
    }
}
